@import "tailwindcss";




@layer utilities{
  .container {
    @apply max-w-322.5 mx-auto
  }
}


:root {
  --primary: #141414;
  --secondary: #FF494A;
  --tertiary: #5D6570;
  --white: #ffffff;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-white: var(--white);
  --font-rajdhani: "Rajdhani", sans-serif;
  --font-Rubik: "Rubik", sans-serif;

}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-white: var(--color-white);
}
@theme {
  --font-rajdhani: "Rajdhani", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}


